.aboutMe{
	text-align: center;
	color: #36c987;
	background-color: black;
}
.myListStyle{
	text-align: left;
    display: inline-block;
}
.name{
	font-family: Courier New;
	text-align: Center;
	font-size: 200%;
	color: #36c987;
	text-shadow: -2px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
}
.topMenu{
	text-align: Center;
	font-size: 400%;
	color: #009B55;
}